<!--
    Author: Erik L. Meyer
    MIT license
-->
<head>
    <link rel="stylesheet" href="./stylessIndex.css">
</head>
<body style="background-color: Gainsboro;">
    <h1 style="text-align: center;">Erik Meyer's class portfolio</h1>
    <p>This page serves as a collection for all the projects I worked on in 
        Software Engineering during the Spring 2021 semester.</p>
    <h2>Projects</h2>
    <h3>Sprint 1</h3>
    <a href="/about" target="_blank" title="My first project">Getting to know each other</a>
    <p>The first project. A getting to know me page to go over some basic HTML.</p>
    <h3>Sprint 2</h3>
    <a href="/" title="This project">Assignment portfolio</a>
    <p>This project! This page will be updated with more links as the semester goes on.</p>
    <a href="https://diceroller-em-sp21.azurewebsites.net" title="Dice roller">Dice Roller</a>
    <p>Rolls two dice.</p>
    <a href="https://syllabus-em-sp21.azurewebsites.net" title="Syllabus">Syllabus</a>
    <p>A partial reproduction of the syllabus for this class.</p>
    <a href="https://regex-tester-em-sp21.azurewebsites.net/regexp.html" title="RegExp Tester">
        Regular Expression practice</a>
    <p>A demonstration of RegEx.</p>
    <h3>Sprint 3</h3>
    <p>These are code examples from a textbook. None of it is original except for a single bit 
        in each where I experimented.</p>
    <a id="exercise2" href="{{sprintLinks2}}" title="{{title2}}">Chapter 2</a>
    <p>A simple helloworld in Node.js. The phrase "Hello world" cannot be found anywhere except 
        the filename</p>
    <a id="exercise3" href="{{sprintLinks3}}" title="{{title3}}">Chapter 3</a>
    <p>A page demonstrating the use of Express.</p>
    <a id="exercise4" href="{{sprintLinks4}}" title="{{title4}}">Chapter 4</a>
    <p>A slight use of modules.</p>
    <h3>Sprint 4</h3>
    <p>I have redone all the Sprint 1 and Sprint 2 aplications to run in Node.js. The links to the 
        old versions will remain above, while the Node versions will be found below.</p>
</body>
